.top-block {
  display: flex;
  &>div {
    margin-right: 30px;
  }
}
.action-block>div {
  margin: 20px 0;
}

.ml10 {
  margin-left: 10px;
}

.layer-choice {
  display: flex;
  align-items: center;
}

#container {
  position: relative;
}
