<div class="file-select">
  <input type="file" (change)="onFileSelected($event)" accept="image/*">
</div>
<div class="editor-mode" *ngIf="imageLayerLoad">
  EditorMode:
  <select [ngModel]="selectedMode" (ngModelChange)="onEditorModeSelected($event)">
    <option [value]="EditorMode.Brush">筆刷</option>
    <option [value]="EditorMode.Text">文字</option>
    <option [value]="EditorMode.Arrow">箭頭</option>
  </select>
</div>
<div class="layer-choice" *ngIf="imageLayerLoad">
  分圖層顯示:
  <select [ngModel]="selectedLayer" (ngModelChange)="onLayerSelected($event)">
    <option [value]="LayerMode.Both">全部</option>
    <option [value]="LayerMode.Image">底圖</option>
    <option [value]="LayerMode.Editor">使用者作畫的內容</option>
  </select>
  &nbsp;
  <button (click)="saveAsImage()">另存為圖片</button>
</div>
<div id="container"></div>
